body {
  background-color: #0a192f;
  color: #8892b0;
  font-family: "Calibre-Regular";
  font-size: 22px;
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 90px;
  font-family: "Calibre-SemiBold";
  color: #ccd6f6;
  line-height: 2px;
  margin: 50px auto 20px auto;
}

h2 {
  color: #8892b0;
  font-family: "Calibre-Regular";
  font-size: 40px;
  font-weight: normal;
  width: 60%;
  margin: auto;
}

h3 {
  font-family: "SFMono";
  color: #55d9be;
}

a {
  font-family: "SFMono";
  color: #55d9be;
}

p {
  line-height: 2;
}
.top-container {
  color: #406882;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 50px auto;
}

.bottom-container {
  padding: 50px 0 20px;
}

.pro {
  font-family: "SFMono";
  color: #55d9be;
  font-size: 30px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.skill-row {
  margin: 75px auto;
  width: 50%;
  text-align: left;
}

.img-row-right {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.img-row-left {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.img-bottom-container {
  margin: 0 5px;
}

hr {
  border-style: dotted none none none;
  border-color: #ccd6f6;
  border-width: 10px;
  height: 0px;
  width: 5%;
  margin: 50px auto;
}

.btn {
  line-height: 4;
  padding: 20px;
  border-radius: 3px;
  border-color: #55d9be;
  border: 1px solid;
}

.title {
  font-family: "Calibre-Semibold";
  font-size: 50px;
  margin: auto;
}

.intro {
  width: 30%;
  margin: 20px auto;
}

.contact-message {
  width: 40%;
  margin: 10px auto 50px auto;
}
